<div id="content">
    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Hire an Expert</h2>
                </div>
                <div class="col-md-6">
                    <ul class="page-pagin">
                        <li><a href="/">Home</a></li>
                        <li><a href="/client/signup">Hire and Expert</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End page-banner section -->


    <section class="typography-section">
        <div class="container">
            <div class="title-section">
                <h1>Hire an Expert</h1>
                <blockquote class="quote">We know we are unique but would like you to tell us that.</blockquote>
            </div>
            <form id="contact-form">
                <div class="row">
                    <div class="col-md-4">
                        <input name="name" id="name" type="text" placeholder="What kind of expert do you need">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input name="email" id="email" type="text" placeholder="Email (required)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input name="company" id="company_name" type="text" placeholder="Company Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input name="your_name" id="your_name" type="text" placeholder="Your Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input name="skype" id="skype" type="text" placeholder="Skype ID">
                    </div>
                </div>
                <textarea name="comment" id="comment" placeholder="Additional Information"></textarea>

                <div class="submit-area">
                    <input type="submit" id="submit_contact" value="Find me an Expert">

                    <div id="msg" class="message"></div>
                </div>
            </form>
        </div>
    </section>
</div>