<div id="content">

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Frequently Asked Questions</h2>
                </div>
                <div class="col-md-6">
                    <ul class="page-pagin">
                        <li><a href="/">Home</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End page-banner section -->

    <!-- typography-section
        ================================================== -->
    <section class="typography-section">
        <div class="container">

            <div class="title-section">
                <h1>FAQ</h1>
                <blockquote class="quote">Frequently asked questions.</blockquote>
            </div>

            <p>
                Working on this ...
            </p>

        </div>
    </section>
    <!-- End typography section -->

</div>