<div id="content">

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Frequently Asked Questions</h2>
                </div>
                <div class="col-md-6">
                    <ul class="page-pagin">
                        <li><a href="/">Home</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End page-banner section -->

    <!-- typography-section
        ================================================== -->
    <section class="typography-section">
        <div class="container">

            <div class="grid-row-inner has-big_padding faq-answers">
                <section class="sub-section">
                    <div class="title-section">
                        <h1>Overview</h1>
                    </div>
                    <section>
                        <header><h2>Are there any upfront
                            recruiting or contractual costs?</h2></header>
                        <div><p>For each engagement, we require a $500 deposit that
                            ultimately gets applied to the first invoice. In the event of a failed trial period, the
                            deposit is refunded.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>Is it really risk-free?</h2>
                        </header>
                        <div><p>Yes. All of our weekly engagements begin with a
                            predetermined trial
                            period (up to two weeks). This means that experts have time to prove
                            to you that they are absolutely exceptional and worth every penny.
                            If you’re completely satisfied with the results, we’ll bill you for the
                            time and continue the engagement for as long as you’d like. If you’re
                            not completely satisfied, you won’t be billed (and we'll pay the
                            expert out of our own pocket). From there, we can either part ways,
                            or we can provide you with another expert who may be a better fit
                            and with whom we will begin a second risk-free trial.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>What happens if I’m not
                            satisfied with a expert engineer, designer or copywriter?</h2></header>
                        <div><p>We allow our clients to try up to five experts per
                            position. While
                            all experts are extraordinarily talented and intelligent, we
                            understand that not every person will be a perfect “cultural” fit for
                            every company. A “cultural” match can be ambiguous as well as highly
                            subjective. For this reason, we allow our clients to work with multiple
                            experts for each position before they decide on a candidate with
                            whom they are confident, content, and comfortable.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>What does Qusion.NET offer
                            that comparable services do not?</h2></header>
                        <div><p>Qusion.NET was created to offer a solution to the
                            lower-than-expected
                            technical performance of resources obtained through the myriad of
                            talent providers. It’s become incredibly difficult to find reliable
                            engineers and designers through these services due to the lack of
                            sufficient screening.</p>

                            <p>At Qusion.NET, we thoroughly screen our experts (please see “Testing &amp;
                                Screening” below) to ensure we only supply developers and designers of
                                the absolute highest caliber. To make an analogy, existing open
                                freelance marketplaces are an eBay for developers, whereas Qusion.NET is
                                an Amazon. At Qusion.NET, we go to extreme lengths to provide and
                                guarantee quality.</p>
                        </div>
                    </section>
                </section>
                <section class="sub-section">
                    <div class="title-section">
                        <h1>Testing &amp; Screening</h1>
                    </div>
                    <section>
                        <header><h2>Do all your experts speak fluent English?</h2></header>
                        <div>
                            <p>Yes - each and every one of them. All experts write
                                and speak English
                                fluently. In fact, before we invite candidates to tackle our rigorous
                                technical tests, we conduct lengthy interviews to ensure they are
                                proficient in English and have personalities well-suited to working
                                with western technical teams.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>
                            How exactly do you screen candidates to be sure your software developers meet all of our
                            requirements?</h2></header>
                        <div><p>In a nutshell, we screen for language mastery,
                            personality, and
                            technical know-how. We review sample code,
                            algorithmic skills, and CS fundamentals, and we match candidates with
                            senior engineers for multiple technical interviews and a project
                            to demonstrate live proficiency with a “real” project.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>
                            How exactly do you screen candidates to be sure your designers meet all of our
                            requirements?</h2></header>
                        <div><p>In a nutshell, we screen for language mastery,
                            personality, and design
                            know-how. We review portfolios, check design
                            fundamentals, and test design skills in real-time, and we match
                            candidates with senior designers for multiple design interviews
                            and a project to demonstrate live proficiency with a “real” project.</p>
                        </div>
                    </section>
                </section>
                <section class="sub-section">
                    <div class="title-section">
                        <h1>Geography</h1>
                    </div>
                    <section>
                        <header><h2>Where are your
                            experts located?</h2></header>
                        <div><p>While we don’t have any geographic preference, most
                            Experts are
                            physically located in East Europe.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>Where do Qusion.NET
                            experts work?</h2></header>
                        <div><p>The vast majority of our experts work from their homes
                            or
                            co-working
                            spaces.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>Can I bring expert in-house?</h2></header>
                        <div><p>In practice, there have only been a few instances where
                            clients have
                            felt it absolutely necessary to bring an expert physically on-site.
                            If this truly is a requirement, we can work with you to coordinate
                            relocating an individual or team to your location for a specified
                            period of time.</p>
                        </div>
                    </section>
                </section>

                <section class="sub-section">
                    <div class="title-section">
                        <h1>Network &amp; Services</h1>
                    </div>
                    <section>
                        <header><h2>
                            If there isn’t any in-network resource currently available to fulfill the requirements of my
                            request, how long should I expect to wait to receive a expert?</h2></header>
                        <div><p>It takes us one to three weeks to locate, fully screen,
                            and work with
                            every engineer and designer before we feel confident enough to place
                            them in our network and with a client. We understand your need for
                            expediency, but we also understand the even greater necessity of
                            quality. At Qusion.NET, even if we have an extremely promising prospective
                            candidate, we will not place her/him until we are 100% confident in
                            her/his abilities. Our stringent screening process is the most
                            important reason we’re able to guarantee that our engineers and
                            designers are of the absolute highest caliber.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>
                            What happens if an expert is unavailable for the days or times he/she is scheduled
                            to work with me?</h2></header>
                        <div><p>We go to every possible length to ensure that this
                            NEVER happens.
                            At Qusion.NET, we completely understand dependability is of the utmost
                            importance. Thus, we take measures to ensure that availability and
                            reliability is a top priority for our experts. However, in the
                            extremely unlikely circumstance that such a situation arises, Qusion.NET
                            will credit back the time billed to the client.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>Can I
                            hire a full-time worker from us and bring him/her into our company?</h2></header>
                        <div><p>The short answer is “yes.” That said, we’ll want to work
                            with you to fully understand your specific requirements so that we can establish a mutually
                            beneficial arrangement.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>
                            Do you offer services such as screening, vetting, and testing to help us hire
                            engineers?</h2></header>
                        <div><p>While we currently do not supply these services, we plan
                            on offering them in the future.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>Is
                            there any standard equipment experts are required to have?</h2></header>
                        <div><p>In order for our experts to stay on the same page as
                            the peer
                            employees they’ll be placed with, we require they work with modern
                            equipment. If we feel a expert’s equipment isn’t quite up to par,
                            we’ll help him/her acquire a new laptop and peripherals.</p>
                        </div>
                    </section>
                </section>
                <section class="sub-section">

                    <div class="title-section">
                        <h1>Intellectual Property</h1>
                    </div>
                    <section>
                        <header><h2>
                            Who owns the legal rights to technology or design created by a your expert?</h2>
                        </header>
                        <div><p>The client. Qusion.NET in the business of supplying
                            experts of the
                            highest caliber, not collecting intellectual property. All work
                            created by a Qusion.NET is the property of the client.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>How do we
                            ensure that our IP is protected?</h2></header>
                        <div><p>Our experts are no different from anyone on your team in
                            terms of legal
                            status and their ownership of the product you create. Any non-compete
                            or non-disclosure agreements are made between you and the expert.
                            We do our best to provide forms and legal documents in order to
                            facilitate and streamline these processes. You’re welcome to use your
                            own when entering into an agreement with a our expert; however,
                            our legal division will need to review the paperwork first.</p>
                        </div>
                    </section>
                </section>

                <section class="sub-section">
                    <div class="title-section">
                        <h1>Pricing &amp; Payment</h1>
                    </div>
                    <section>
                        <header><h2>How much does Qusion.NET costs
                            cost?</h2></header>
                        <div><p>Because we have experts all over the world, we have
                            a lot of
                            flexibility here. Thus, the short answer is: we will work with you to
                            find a price that works for you. Typically, our engagements fall into
                            the following ranges:</p>

                            [REVIEW]
                            <ul>
                                <li>$1,800 - $3,200+/week per full-time Front-End or Back-End Engineer</li>
                                <li>$1,000 - $1,600+/week per part-time Front-End or Back-End Engineer</li>
                                <li>$1,800 - $3,200+/week per full-time Digital Designer</li>
                                <li>$1,000 - $1,600+/week per part-time Digital Designer</li>
                                <li>$1,200 - $1,800+/week per full-time Quality Assurance (QA) Engineer</li>
                                <li>$600 - $1,000+/week per part-time Quality Assurance (QA) Engineer</li>
                            </ul>
                        </div>
                    </section>
                    <section>
                        <header><h2>How often
                            will I be charged? How are payments and invoices handled?</h2></header>
                        <div><p>We typically invoice our clients twice a month, though
                            there is some flexibility here. Invoices are generated with Net 10 terms, so our clients
                            have an opportunity to review the charges prior to processing.</p>
                        </div>
                    </section>
                    <section>
                        <header><h2>What methods of
                            payment do you accept?</h2></header>
                        <div><p>We currently accept all major credit cards, bank
                            accounts (with ABA routing), bank wires, and PayPal.</p>
                        </div>
                    </section>
                </section>
            </div>

        </div>
    </section>
    <!-- End typography section -->

</div>