<section class="home-splash">
    <!-- <img src="assets/photo/office_002.jpeg" title="Qusion.NET">-->
    <div class="home-slider">
        <div class="container">
            <h1>An experts network</h1>
            <h5>Looking for an expert on development, design or copywriting?</h5>

            <p>
                <a href="/client/signup" class="btn trans-btn">Hire expert</a>
                <a href="/expert/signup" class="btn trans-btn2">I'm an expert</a>
            </p>
        </div>
    </div>
</section>
<section id="banner-section">
    <div class="container">
        <h2>
            <span class="font-s32">99%</span>
            chance that you will find your expert <a href="/how" class="button-one">How is this possible?</a></h2>
    </div>
</section>

<section id="about-section">
    <div class="container">

        <div class="title-section">
            <h1>Find your expert</h1>

            <p>
                Select area you are looking an expert for.
            </p>
        </div>
    </div>
    <div class="about-box">
        <div class="inner-about-box">
            <div class="about-post">
                <div class="about-post-content">
                    <a href="#"><i class="fa fa-code"></i></a>

                    <h2>Developers</h2>

                    <p>Highest quality engineering talents for web, mobile or desktop development.</p>
                </div>
                <div class="hover-about">
                    <h2>Talented Coders</h2>

                    <h1>Development</h1>

                    <p>&nbsp;</p>

                    <p>iOS Developers</p>

                    <p>JavaScript Developers</p>

                    <p>AngularJS Developers</p>

                    <p>ReactJS Developers</p>

                    <p>Android Developers</p>

                    <p>PHP Developers</p>

                    <p>.NET Developers</p>

                    <p>Ruby on Rails Developers</p>
                </div>
            </div>
            <div class="about-post">
                <div class="about-post-content">
                    <a href="#"><i class="fa fa-desktop"></i></a>

                    <h2>Designers</h2>

                    <p>Creative freelancers to make amazing graphic design, brand design or web development.</p>
                </div>
                <div class="hover-about">
                    <h2>Creative Designers</h2>

                    <h1>Design</h1>

                    <p>&nbsp;</p>

                    <p>Adobe Experts</p>

                    <p>Web Designers</p>


                    <p>Mobile Designers</p>

                    <p>UX Experts</p>

                    <p>Branding</p>

                    <p>Graphic Designers</p>

                    <p>iOS Designers</p>

                    <p>Print Designers</p>

                </div>
            </div>
            <div class="about-post">
                <div class="about-post-content">
                    <a href="#"><i class="fa fa-file-text"></i></a>

                    <h2>Copywriters</h2>

                    <p>Written content conveyed through online media and print materials.</p>
                </div>
                <div class="hover-about">
                    <h2>Content Production</h2>
                    <h1>Copywriting</h1>
                    <span></span>

                    <p>Content Auditing</p>

                    <p>Localization</p>

                    <p>Translation</p>

                    <p>Copy Editing</p>

                    <p>Product Manuals</p>

                    <p>Whitepapers</p>

                    <p>Press Release</p>

                    <p>eBooks</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End about section -->

<!--
<section id="services-section">

    <div class="container">

        <div class="title-section">
            <h1>Find your expert</h1>
            <p>
                Select area you are looking an expert for.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-2 col-md-4">
            <a href="#"><i class="fa fa-code"></i></a>
            <h2><a href="#">Development</a></h2>
            <p>Highest quality engineering talents for web, mobile or desktop development.</p>
            <p>&nbsp;</p>
            <ul class="nav-list list-unstyled">
                <li>iOS Developers</li>
                <li>JavaScript Developers</li>
                <li>AngularJS Developers</li>
                <li>ReactJS Developers</li>
                <li>Android Developers</li>
                <li>PHP Developers</li>
                <li>.NET Developers</li>
                <li>Ruby on Rails Developers</li>
            </ul>
            <p>&nbsp;</p>
            <a class="btn trans-btn">See all</a>
        </div>

        <div class="col-sm-2 col-md-4">
            <a href="#"><i class="fa fa-desktop"></i></a>
            <h2><a href="#">Design</a></h2>
            <p>Creative freelancers to make amazing graphic design, brand design or web development.</p>

        </div>

        <div class="col-sm-2 col-md-4">
            <a href="#"><i class="fa fa-file"></i></a>
            <h2><a href="#">Copywriting</a></h2>
            <p>Creating content for the world wide.</p>
        </div>
    </div>

</section>-->
