<div id="content">

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>How it works</h2>
                </div>
                <div class="col-md-6">
                    <ul class="page-pagin">
                        <li><a href="/">Home</a></li>
                        <li><a href="/how">How it works</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End page-banner section -->

    <!-- typography-section
        ================================================== -->
    <section class="typography-section">
        <div class="container">

            <div class="row mar-bottom">
                <div class="col-md-1">
                    <span class="featured-sign">1</span>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h2>TELL US WHAT KIND OF TECH TALENT YOU NEED</h2>
                    <h5>Do you need developers, designers or copywriter?  Which type of experts do you
                        need?</h5>

                    <p>
                        Submit a job to let us know what you need — the more details the better. Whether it's a single
                        engineer or designer or a cross-functional team of ten, Qusion.NET can handle it. After we get the
                        job
                        description, our internal team of engineers and designers will review it and connect with you in
                        order to answer any questions and to get an even better understanding of your exact needs.

                    </p>
                </div>
                <div class="col-md-5 col-sm-12">


                </div>

            </div>

            <div class="row mar-bottom">
                <div class="col-md-1">
                    <span class="featured-sign">2</span>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h2>WE'LL FIND YOU THE PERFECT MATCH</h2>
                    <h5>We'll notify you with a status report concerning your request within a few days.</h5>

                    <p>
                        We have someone in our network who is ready to work with you immediately.
                        <br>
                        There is a candidate being evaluated who matches your qualifications, and we will notify you
                        upon the completion of the screening process.
                        <br>
                        We currently do not have a match for your request, so our team of engineers will work tirelessly
                        to find one.

                    </p>
                </div>
                <div class="col-md-5 col-sm-12">


                </div>

            </div>

            <div class="row mar-bottom">
                <div class="col-md-1">
                    <span class="featured-sign">3</span>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h2>THEY BECOME PART OF YOUR TEAM</h2>
                    <h5>We’ll introduce you to your experts, and they’ll ramp up and start working as soon as you say
                        go.</h5>

                    <p>
                        As soon as you review and sign-off on our recommended freelancer(s), they'll be ready to
                        integrate into your team — just like an in-house employee. While our experts
                        usually work remotely, arrangements can be made to have them on-site.

                    </p>
                </div>
                <div class="col-md-5 col-sm-12">


                </div>

            </div>

            <div class="row mar-bottom">
                <div class="col-md-1">
                    <span class="featured-sign">4</span>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h2>WORK WITH THEM 100% RISK-FREE</h2>
                    <h5>If you're not 100% satisfied after a trial working with a expert, we'll start the process all
                        over again at absolutely no cost.</h5>

                    <p>
                        Our risk-free trial period lets companies work with our engineers and designers first before
                        deciding if they're 100% confident in moving forward. If, for whatever reason, you are not
                        completely satisfied with a expert you have been paired with, you will not be liable for any
                        payment, and we can either part ways or we will restart the entire cycle with you at absolutely
                        no cost.
                    </p>
                </div>
                <div class="col-md-5 col-sm-12">


                </div>

            </div>

        </div>
    </section>
    <!-- End typography section -->

</div>