<div id="content">

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>How it works</h2>
                </div>
                <div class="col-md-6">
                    <ul class="page-pagin">
                        <li><a href="/">Home</a></li>
                        <li><a href="/how">How it works</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End page-banner section -->

    <!-- typography-section
        ================================================== -->
    <section class="typography-section">
        <div class="container">


            <div class="row">
                <blockquote class="quote">
                    We are doing fine tuning of all expert resources to get closest to the best match of expert and
                    client.
                </blockquote>
            </div>

            <div class="row mar-bottom">
                <div class="col-xs-12 col-sm-4 text-center">
                    <img class="media-object" src="/images/illustrations/Checklist.svg"
                         alt="Let us know what kind of expert do you need">

                    <div class="visible-xs-block mar-bottom">&nbsp;</div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h2 class="font-cprimary">1. Let us know what kind of expert do you need</h2>

                    <p>
                        Let us know what you need and we will do our magic of fine tuning to fine the best fit.
                        We will guide you in process of defining your qualifications for project by using
                        proven method of questions flow.
                    </p>

                    <p>
                        More details you provide - the better match we can find.
                    </p>
                </div>
            </div>

            <div class="row mar-bottom">
                <div class="col-xs-12 col-sm-4 text-center">
                    <img class="media-object" src="/images/illustrations/Eyeglass.svg"
                         alt="Let us know what kind of expert do you need">

                    <div class="visible-xs-block mar-bottom">&nbsp;</div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h2 class="font-cprimary">2. We are running our machinery to find you best match</h2>

                    <p>

                        We focus not only on technical abilities, which have to be extraordinary, but also on
                        personality
                        and language knowledge.

                        Being able to communicate and fit into team is of same importance as technical skills.
                    </p>

                    <p>
                        When we filtering our profiles for best match we consider all aspects of project dimensions like
                        Time Zone,
                        Domain Knowledge, Language, Experience Needed, Personal Preferences, etc.
                    </p>
                </div>
            </div>

            <div class="row mar-bottom">
                <div class="col-xs-12 col-sm-4 text-center">
                    <img class="media-object" src="/images/illustrations/Chat-2.svg"
                         alt="You do your own interview if you wish">

                    <div class="visible-xs-block mar-bottom">&nbsp;</div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h2 class="font-cprimary">3. You do your own interview if you wish</h2>

                    <p>
                        Our our experts passed rigorous tests of Personality, Language and Technical knowledge in it's
                        area of expertise.
                        However, if you want to check one more time on your own - you are free to do it via voice
                        interview.
                    </p>

                    <p>
                        Discuss with candidate with specifics of your projects and check if it is real deal.
                    </p>
                </div>
            </div>

            <div class="row mar-bottom">
                <div class="col-xs-12 col-sm-4 text-center">
                    <img class="media-object" src="/images/illustrations/Heart-Watch.svg"
                         alt="Risk Free - Trial period may begin">

                    <div class="visible-xs-block mar-bottom">&nbsp;</div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h2 class="font-cprimary">4. Risk Free - Trial period may begin</h2>

                    <p>
                        We are so confident in our system of testing expert resources that we are giving you up to 10
                        days of trial period where expert will work with your team.
                    </p>

                    <p>
                        At the end of period you are free to estimate your satisfaction of experts' work. In case
                        that for some reason magic didn't happen you are not obligated to pay for it's time.
                        Our statistic tell us that these situations are extremely rare and even that are almost never
                        produced by experts' incompetence.
                    </p>
                </div>
            </div>

            <div class="row mar-bottom">
                <div class="col-xs-12 col-sm-4 text-center">
                    <img class="media-object" src="/images/illustrations/Download-Computer.svg"
                         alt="Expert becomes part of your team">

                    <div class="visible-xs-block mar-bottom">&nbsp;</div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h2 class="font-cprimary">5. Expert becomes part of your team</h2>

                    <p>
                        As soon as you confirm your satisfaction and sign-off on experts they will be ready to
                        continue working with your team. They will be 100% under your management as if you hired them
                        using traditional way.
                    </p>

                    <p>
                        Cooperation may continue remotely or, in specific cases, in-house.
                    </p>
                </div>
            </div>

            <div class="row mar-bottom">
                <div class="col-xs-12 col-sm-4 text-center">
                    <img class="media-object" src="/images/illustrations/Bell.svg"
                         alt="We are still there if you need us">

                    <div class="visible-xs-block mar-bottom">&nbsp;</div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h2 class="font-cprimary">6. We are still there if you need us</h2>

                    <p>
                        While engagement of experts is in progress we will ask you occasionally if everything is
                        going smoothly. Qusion never limits it's services to only selling connection - it is in our
                        sincere interest that your project succeeds.

                    </p>

                    <p>
                        Cooperation may continue remotely or, in specific cases, in-house.
                    </p>
                </div>
            </div>

            <div class="mar-bottom text-center">
                &nbsp;
            </div>
            <div class="row mar-bottom text-center">

                <a class="trans-btn" href="/client/signup">I like it! Now, find me my expert.</a>

            </div>
        </div>
    </section>
    <!-- End typography section -->

</div>