<div id="content">

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Why?</h2>
                </div>
                <div class="col-md-6">
                    <ul class="page-pagin">
                        <li><a href="/">Home</a></li>
                        <li><a href="/why">Why</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End page-banner section -->

    <!-- typography-section
        ================================================== -->
    <section class="typography-section">
        <div class="container">

            <div class="row">
                <blockquote class="quote">
                    If you have ever tried to complete development or design project it is big probability that you have
                    faced challenge to find talented expert matching your skill needs and financial terms.
                </blockquote>
            </div>

            <div class="row mar-bottom">
                <div class="col-md-5 col-sm-12 font-cprimary">
                    <h1>Our Way</h1>
                </div>
                <div class="col-md-2 col-sm-12 text-center font-s64">

                </div>
                <div class="col-md-5 col-sm-12">
                    <h1>Traditional Way</h1>
                </div>
            </div>
            <div class="row mar-bottom">
                <div class="col-md-5 col-sm-12">
                    <h2 class="font-cprimary">We are searching it for you</h2>

                    <p>
                        With us you don't even need to search for an expert and evaluate it's skills - we are doing this
                        job for you. You only need to describe what kind of project you are doing and what skills do you
                        need - in next 48 hours we are going to find best match by evaluating experts skills,
                        personality
                        and language.
                    </p>

                    <p>
                        <a href="/how">Find out how</a>
                    </p>
                </div>
                <div class="col-md-2 col-sm-12 text-center font-s64">
                    <i class="fa fa-search"></i>
                </div>
                <div class="col-md-5 col-sm-12">
                    <h2>Finding is not an easy task</h2>

                    <p> If you have ever tried to complete development or design project it is big probability that you
                        have faced challenge
                        to find talented expert matching you skill needs and financial terms.
                    </p>

                    <p>
                        There are millions of developers all around world so finding one should be an straightforward
                        todo - but it is not.

                        To make sure there is a good match you need go through more interviews testing it's technical
                        skills, personality, language, project management knowledge, etc.

                        This means you need another expert or experts that will be able to recognize all these skills
                        and evaluate it properly.
                    </p>
                </div>
            </div>
            <div class="row mar-bottom">
                <div class="col-md-5 col-sm-12">
                    <h2 class="font-cprimary">Doing it in no time</h2>

                    <p>
                        Start your job in hours, not weeks.
                        Get a shortlist of skilled freelancers instantly, tapping into our hiring know-how and matching
                        technology.
                        Interview favorites online and hire with the click of a button.
                    </p>

                    <p>
                        <a href="/how">Find out how</a>
                    </p>
                </div>
                <div class="col-md-2 col-sm-12 text-center font-s64">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="col-md-5 col-sm-12">
                    <h2>Time Consuming</h2>

                    <p>
                        Even if you already solved all the problems mentioned above you need to go through endless
                        pre-screening process filtering your candidates.
                        Taking interviews, doing candidates testing and evaluating these tests are something you are
                        not equipped for or oyu just don't have time for this.
                    </p>
                </div>
            </div>
            <div class="row mar-bottom">
                <div class="col-md-5 col-sm-12">
                    <h2 class="font-cprimary">Quality Guaranteed</h2>

                    <p>
                        All our experts are going through rigorous process of testing where we are evaluating not just
                        technical skills but it's personality, working habits, communication, languages, etc.
                    </p>

                    <p>
                        Our screening process is create to filter best of best in specific expertise. We are starting
                        with personality testing by using catting-edge methods to determine how expert's brain works.
                        While doing that we insist in perfect english speaking so we are sure communication will not be
                        an issue.
                        Experts than are taking 2 level of tests to prove heir technical skills by creating real life
                        application of our choice.
                    </p>

                    <p>
                        <a href="/how">Find out how</a>
                    </p>
                </div>
                <div class="col-md-2 col-sm-12 text-center font-s64">
                    <i class="fa fa-check"></i>
                </div>
                <div class="col-md-5 col-sm-12">
                    <h2>Quality of Work</h2>

                    <p>
                        Let's assume that you have collected and evaluated your candidates and picked your best
                        candidate.
                        There is no guaranty that expert is going to give you real quality of work. It can pass even a
                        month for
                        you to recognize failure in hiring and that time you already lost, not just month of your time
                        or
                        unnecessary charges but you are already late one month with project delivery.
                    </p>
                </div>
            </div>
            <div class="row mar-bottom">
                <div class="col-md-5 col-sm-12">
                    <h2 class="font-cprimary">Risk Free</h2>

                    <p>
                        Every time you work with a new expert, you will have a trial period to decide whether they meet
                        your needs.
                        If you don't find them to be extraordinary, you will not be charged - without obligation to
                        explain "why".
                    </p>

                    <p>
                        <a href="/how">Find out how</a>
                    </p>
                </div>
                <div class="col-md-2 col-sm-12 text-center font-s64">
                    <i class="fa fa-shield"></i>
                </div>
                <div class="col-md-5 col-sm-12">
                    <h2>High Risks</h2>

                    <p>
                        Reading above you will find that you need much more time and money even before you started
                        working
                        with selected expert. Additionally there is a risk of trial period failure which you will
                        need to pay for even you got nothing.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- End typography section -->

</div>