<div id="content">
    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Sign Up as an Expert</h2>
                </div>
                <div class="col-md-6">
                    <ul class="page-pagin">
                        <li><a href="/">Home</a></li>
                        <li><a href="/client/signup">Experts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End page-banner section -->


    <section class="typography-section">
        <div class="container">
            <div class="title-section">
                <h1>Sign Up as an Expert</h1>
                <blockquote class="quote">We are exciting to have you in our network.</blockquote>
            </div>
            <form id="contact-form">
                <div class="row">
                    <div class="col-md-4">
                        <input name="expertise" id="expertise" type="text" placeholder="What is your expertise">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input name="email" id="email" type="text" placeholder="Email (required)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input name="your_name" id="your_name" type="text" placeholder="Your Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input name="skype" id="skype" type="text" placeholder="Skype ID">
                    </div>
                </div>
                <textarea name="comment" id="comment" placeholder="Additional Information"></textarea>

                <div class="submit-area">
                    <input type="submit" id="submit_contact" value="Sign Me Up">

                    <div id="msg" class="message"></div>
                </div>
            </form>
        </div>
    </section>
</div>